@import "app-colors";

:host {
  display: block;
  width: 100%;
  min-height: 100%;
  background: $primary;
  padding: 8px 0 0;
  box-sizing: border-box;
}

.spacer {
  flex: 1;
}

.list-spacer {
  height: 82px;
}

.toolbar {
  position: fixed;
  padding: 0 8px;
  margin: 8px;
  bottom: 0;
  width: calc(100% - 16px);
  border-radius: 4px;
  transition: .3s ease-in-out;
  min-height: 50px;

  input {
    flex: 1;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    outline: none;
  }

  .toolbar-accept {
    margin: 0 0 0 8px;
  }
}

.list {
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-item {
  padding: 4px 20px;
  background: #fefefe;
  box-sizing: border-box;
  word-break: break-word;
  position: relative;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  min-height: 50px;
  transition: .3s;

  span {
    display: block;
    flex: 1;
    transition: .3s;
    padding: 8px 0;
  }
}

.list-item.done {
  span {
    opacity: 0.5;
  }
}

.list-item.dense {
  font-size: 13px;
  min-height: 32px;
  padding: 0 12px;

  span {
    padding: 4px 0;
  }
}

.list-item-redo {
  transform: scaleX(-1);
  opacity: 0.8;
}

.item-placeholder {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {font-size: 32px}

  mat-icon {
    font-size: 64px;
    width: 1em;
    height: 1em;
  }
}

.cdk-drag-preview {
  transition: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
