<ul class="list">
  <li *ngFor="let doable of items" [ngClass]="{dense: dense}">
    <button class="item-check"
            mat-icon-button
            *ngIf="!doable.done"
            (click)="onDone(doable)">
      <mat-icon>check</mat-icon>
    </button>
    <span>{{doable.text}}</span>
    <div class="item-overlay" [ngClass]="{active: doable.done}">
      <button *ngIf="doable.done" mat-icon-button (click)="onUndo(doable)">
        <mat-icon>redo</mat-icon>
      </button>
    </div>
  </li>
</ul>
<div *ngIf="items.length === 0" class="item-placeholder">
  <span>&#9749;</span>
  Nothing is going on.
</div>
<div class="spacer"></div>

<mat-toolbar color="accent">
  <input matInput
         autocomplete="off"
         placeholder="Do net forget about..."
         [formControl]="doableTextForm"
         (keydown.enter)="onCommand()">
  <button mat-icon-button
          *ngIf="doableTextForm.value.length > 0"
          (click)="addDoable()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
