<ul class="list" cdkDropList (cdkDropListDropped)="drop($event)">
  <li *ngFor="let doable of items"
      [ngClass]="{dense: dense, done: doable.done}"
      cdkDrag class="list-item">
    <span>{{doable.text}}</span>
    <button mat-icon-button
            *ngIf="!doable.done"
            (click)="onDone(doable)">
      <mat-icon>check</mat-icon>
    </button>
    <button *ngIf="doable.done"
            class="list-item-redo"
            mat-icon-button
            (click)="onUndo(doable)">
      <mat-icon>redo</mat-icon>
    </button>
    <!--<div class="item-overlay" [ngClass]="{active: doable.done}">
      <button *ngIf="doable.done" mat-icon-button (click)="onUndo(doable)">
        <mat-icon>redo</mat-icon>
      </button>
    </div>-->
  </li>
</ul>
<div *ngIf="items.length === 0" class="item-placeholder">
  <span>&#9749;</span>
  Nothing is going on.
</div>
<div class="list-spacer"></div>

<mat-toolbar color="accent"
             class="toolbar"
             (swipeleft)="toggleActions()">
  <input matInput
         autocomplete="off"
         placeholder="Do net forget about..."
         [formControl]="doableTextForm"
         (keydown.enter)="onCommand()">
  <button mat-icon-button
          class="toolbar-accept"
          *ngIf="doableTextForm.value.length > 0"
          (click)="addDoable()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button
          class="toolbar-accept"
          *ngIf="doableTextForm.value.length === 0"
          (click)="toggleActions()">
    <mat-icon>more_horiz</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar color="accent"
             class="toolbar"
             (swiperight)="toggleActions()"
             [ngStyle]="{left: actionsActive ? '0' : '100%'}">
  <button mat-icon-button
          (click)="toggleActions()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-icon-button
          (click)="toggleDense()">
    <mat-icon>{{dense ? 'unfold_more' : 'unfold_less'}}</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onDeleteDoneItems()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>
